#container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.login, .cadastro{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.recuperarSenha{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.input{
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    height: 10%;
}

.inputErro{
    border: none;
    width: 80%;
    height: 10%;
    border-bottom: 1px solid red;
}

p{
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
    width: 50%;
    height: 15%;
    border-radius: 5px;
}